body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: calc(100vh - 80px); /* Ajuste la hauteur pour la barre de recherche et la barre d'information */
    width: 100%;
}

/* Style pour les images dans les fenêtres contextuelles */
.popup-image {
    max-width: 200px; /* Ajustez la taille de l'image selon vos besoins */
    max-height: 150px;
    display: block;
    margin: 0 auto;
}

/* Barre de recherche en haut */
#search-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Assurez-vous que la barre est au-dessus de la carte */
}

#search-input {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    margin-left: 10px;
}

#search-button:hover {
    background-color: #555;
}

/* Barre d'information en bas */
#info-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Assurez-vous que la barre est au-dessus de la carte */
}

/* Style du bouton d'information */
#info-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

#info-button:hover {
    background-color: #555;
}

/* Style pour le message d'information */
#info-message {
    position: fixed;
    bottom: 50px; /* Positionné juste au-dessus de la barre d'information */
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 1000; /* Assurez-vous que le message est au-dessus de la carte et de la barre */
}

#info-message.visible {
    display: block;
}
